src/main/mule/account-exists-check.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="accountExistsCheckFlow" doc:id="bbb20b04-98da-44cf-b7ac-bbe921f5127b" >
		<db:select doc:name="checking In Db If The Account Exists" doc:id="43278f80-79f3-4d87-8e57-7258fc5f86ff" config-ref="Database_Config">
			<db:sql><![CDATA[select *from Bank_Transactions where custAccNum=:accountNum and bankName=:bank;]]></db:sql>
			<db:input-parameters><![CDATA[#[{
	accountNum: vars.inputPayload.payload.accountNum,
    bank: vars.inputPayload.attributes.queryParams.bank
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="variable Of Db Response" doc:id="21f86563-7647-4a4f-9a7f-654fafe21164" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="dbResponse-accountCheck" ><![CDATA[%dw 2.0
output application/java
---
message]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="259107e4-2ca8-4d61-8bcf-af9b04ddd586" type="DB:CONNECTIVITY">
				<ee:transform doc:name="Transform Message" doc:id="4bba8552-27e3-4b8c-bd24-88e8f44547ff" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output text/plain
---
"Error connecting to database. Please enter the correct details and try again after sometime."]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="01506848-9b3d-43a6-87cf-594360a8e895" type="DB:BAD_SQL_SYNTAX">
				<ee:transform doc:name="Transform Message" doc:id="40d4bb41-7494-4ba2-a6ea-cf030a79aebf" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output text/plain
---
"Bad SQL syntax. Please check and try agian."]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
