target/classes/atm-transaction-saikiran.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <http:listener-config name="atm-transaction-saikiran-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="atm-transaction-saikiran-config" api="resource::f076267c-2b29-4c57-beec-3f6cf7e929b2:atm-transaction-saikiran:1.0.5:raml:zip:atm-transaction-saikiran.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="atm-transaction-saikiran-main">
        <http:listener config-ref="atm-transaction-saikiran-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="atm-transaction-saikiran-config" />
    </flow>
    <flow name="atm-transaction-saikiran-console">
        <http:listener config-ref="atm-transaction-saikiran-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="atm-transaction-saikiran-config" />
    </flow>
    <flow name="put:\unblock:application\json:atm-transaction-saikiran-config">
        <flow-ref doc:name="Flow Reference" doc:id="16ef706e-cf23-47b8-9229-f5d0a284c6ad" name="unblockFlow" />
    </flow>
    <flow name="post:\checkBalance:application\json:atm-transaction-saikiran-config">
        <flow-ref doc:name="Flow Reference" doc:id="95672293-6e00-4ebe-a85f-fce8e76df38e" name="checkBalanceFlow" />
    </flow>
    <flow name="post:\createAccount:application\json:atm-transaction-saikiran-config">
        <flow-ref doc:name="Flow Reference" doc:id="6a0a7dad-e0b5-4ef1-8c02-6a0991f380d6" name="createAccountFlow" />
    </flow>
    <flow name="post:\withDraw:application\json:atm-transaction-saikiran-config">
        <flow-ref doc:name="Flow Reference" doc:id="50a73665-ef9b-44e2-8bac-3ad8ed80d299" name="withdrawFlow" />
    </flow>
</mule>
