target/classes/batchprocessing2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd">
	<db:config name="Database_Config" doc:name="Database Config" doc:id="bb3e2772-b7a4-4a71-9afe-0893e408cafd" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="luvmytango@143" database="json" >
			<db:connection-properties >
				<db:connection-property key="useSSL" value="false" />
			</db:connection-properties>
		</db:my-sql-connection>
	</db:config>
	<file:config name="File_Config" doc:name="File Config" doc:id="cd56dcb6-79f9-41d9-98d4-774f188bc3da" >
		<file:connection workingDir="/Users/andisaikiran/Downloads/"/>
	</file:config>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="78d13b88-372d-4613-bc13-cf613ed38b16" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="batchprocessing2Flow" doc:id="3410a471-77e9-478d-9e68-1426e38ddf82" >
		<http:listener doc:name="Listener" doc:id="5293019f-4ff0-480e-a872-73468135c941" config-ref="HTTP_Listener_config" path="/Bp2">
			<http:response >
				<http:body ><![CDATA[success]]></http:body>
			</http:response>
		</http:listener>
		<file:read doc:name="Read" doc:id="4aa24bc6-5b72-4ba2-9eaa-5b7b8ad34040" config-ref="File_Config" path="input/FL_insurance_sample.csv" outputMimeType="application/csv"/>
		<ee:transform doc:name="Transform Message" doc:id="373b6b62-72ea-475f-b7d5-984159d6e722" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload map(data,index) -> {
	policyID: data.policyID,
	statecode: data.statecode,
	country: data.country,
	construction: data.construction
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<batch:job jobName="batchprocessing2Batch_Job" doc:id="77c25cce-ede8-4f2b-8e5a-7ea8b63c6245" maxFailedRecords="10" blockSize="10">
			<batch:process-records >
				<batch:step name="Batch_Step" doc:id="b6cc4965-17ed-4395-9a4c-7d5151c01fcb" acceptPolicy="ALL">
					<logger level="INFO" doc:name="Logger" doc:id="fbcfbd00-cd68-4233-b54c-1aefd8fee908" message="FROM BATCH STEP ------------- ENTERED INTO BATCH PROCESSING"/>
					<ee:transform doc:name="Transform Message" doc:id="9645dda8-1d91-4394-a8d3-ddf7109e1843" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map(data,index) -> {
	policyID: data.policyID,
	statecode: data.statecode,
	country: data.country,
	construction: data.construction
}]]></ee:set-payload>
						</ee:message>
					</ee:transform>
					<batch:aggregator doc:name="Batch Aggregator" doc:id="d268ab1d-7ab2-47bc-b0f7-f65b6a8d3e7a" streaming="true">
						<db:bulk-insert doc:id="38c41082-3870-412e-88a2-a972560240d9" config-ref="Database_Config">
							<db:sql><![CDATA[insert into insurancepolicy (policyID, statecode, country, construction)
values (:policyID, :statecode, :country, :construction)]]></db:sql>
		</db:bulk-insert>
						<file:write doc:name="Write" doc:id="0d2dd184-ace1-400b-b0b1-a2fa1919ba04" config-ref="File_Config" path="/output/ #['MyFile' ++ (now() as String {format:'dd-MMM-yyyy-hh-mm-ss'}) ++ '.txt'" />
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<logger level="INFO" doc:name="Logger" doc:id="688a75f1-ddad-40c1-894c-4b03ed7234df" message="successfully posted the data"/>
			</batch:on-complete>
		</batch:job>
		<logger level="INFO" doc:name="Logger" doc:id="f4350ca9-be86-4b2f-bd49-4f38346f3ff8" message="successfully entered into batchstep"/>
	</flow>
</mule>
