target/META-INF/mule-src/mulesoft-atm-transactions-saikiran/src/main/mule/schedular-flow.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:email="http://www.mulesoft.org/schema/mule/email" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd">
 <flow name="schedular-flowFlow" doc:id="61c95314-7a9d-4b33-8a2a-af8c7b5d0d7c" >
		<scheduler doc:name="Scheduler" doc:id="f19f878c-da2e-420f-9245-d2aa19a31d6f" >
			<scheduling-strategy >
				<cron expression="0 0 20 ? * * *" />
			</scheduling-strategy>
		</scheduler>
		<until-successful maxRetries="5" doc:name="Until Successful" doc:id="363ef7d8-0eb0-4d6f-ac85-b626c0fbaf70" millisBetweenRetries="10000">
			<db:select doc:name="selecting From Db" doc:id="b9be9716-57a4-4407-bebf-eecf8fa8188e" config-ref="AWS_RDB_SQL_Database_Config">
			<db:sql><![CDATA[select *from Bank_Transactions;]]></db:sql>
		</db:select>
		</until-successful>
		<ee:transform doc:name="converting To Java" doc:id="984a2547-1197-4a6a-8d8a-b7943f16f113" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<batch:job jobName="schedular-flowBatch_Job" doc:id="e782871d-f5dd-4a56-827a-9ae50ea0a8a8" blockSize="1">
			<batch:process-records >
				<batch:step name="Batch_Step" doc:id="7a2aa34a-d66f-4727-ac0f-bc0c420dd510" acceptPolicy="ALL">
					<until-successful maxRetries="5" doc:name="Until Successful" doc:id="d4e51118-a865-4102-86cf-bc18c1844dac" millisBetweenRetries="10000">
						<email:send doc:name="sending Bank Balance To The User" doc:id="1d65f5c1-f81a-4992-859e-f722d6581d8c" config-ref="Email_SMTP" fromAddress="kiran.sai7049@gmail.com" subject="Today Total Balance !!!!!!!!!!!">
						<email:to-addresses>
							<email:to-address value="#[payload.mailId]" />
						</email:to-addresses>
						<email:body contentType="text/plain">
							<email:content><![CDATA[#["Your total Balance as on Today is" ++ " " ++ payload.totalBalance ++ "/-"]]]></email:content>
						</email:body>
					</email:send>
					</until-successful>
				</batch:step>
				<batch:step name="Batch_Step1" doc:id="5b5726ff-0202-4ce0-9869-3461e4dfad9e" acceptPolicy="ONLY_FAILURES">
					<logger level="INFO" doc:name="logging The Failures" doc:id="cd3beff8-5432-405f-a8b9-bcf3cd1ac802" message="#[payload]"/>
				</batch:step>
			</batch:process-records>
		</batch:job>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="33b54df5-1849-47fd-9383-2ffd8b5d2122" type="MULE:RETRY_EXHAUSTED">
				<ee:transform doc:name="Transform Message" doc:id="99d08e35-aeea-49ff-b59f-27f84f8025fc" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"status": "connecting to database failed"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
